{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="галерея.css">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="{% static 'images/IMG_9377.JPG' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Обезьяны</h5>
    <p class="card-text">Именно в этой стране обитает самое крохотное млекопитающее в мире — свиноносая летучая мышь</p>
    <a href="#" class="btn btn-primary">Пройти по ссылке</a>
  </div>
</div>
</div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="{% static 'images/IMG_9440.JPG' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Лемуры</h5>
    <p class="card-text">Таиланд расположен в Юго-Восточной Азии, с запада омывается Андаманским морем, с востока Сиамским заливом.</p>
    <a href="#" class="btn btn-primary">Пройти по ссылке</a>
  </div>
</div>
</div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="{% static 'images/IMG_9421.JPG' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Крокодилы</h5>
    <p class="card-text">Климат Таиланда — влажный тропический на севере страны, и субэкваториальный в центральной и южной частях.</p>
    <a href="#" class="btn btn-primary">Пройти по ссылке</a>
  </div>
</div>
</div>
</div>
</div>
  <div class="container">
<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
<img src="{% static 'images/IMG_9377.JPG' %}" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Обезьяны</h5>
  <p class="card-text">Именно в этой стране обитает самое крохотное млекопитающее в мире — свиноносая летучая мышь</p>
  <a href="#" class="btn btn-primary">Пройти по ссылке</a>
</div>
</div>
</div>

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
<img src="{% static 'images/IMG_9440.JPG' %}" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Лемуры</h5>
  <p class="card-text">Таиланд расположен в Юго-Восточной Азии, с запада омывается Андаманским морем, с востока Сиамским заливом.</p>
  <a href="#" class="btn btn-primary">Пройти по ссылке</a>
</div>
</div>
</div>

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
<img src="{% static 'images/IMG_9421.JPG' %}"  class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Крокодилы</h5>
  <p class="card-text">Климат Таиланда — влажный тропический на севере страны, и субэкваториальный в центральной и южной частях.</p>
  <a href="#" class="btn btn-primary">Пройти по ссылке</a>
</div>
</div>
</div>
</div>
</div>

  </body>
</html>
